* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #c44747;
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 10vh; */
}

.App-main, .App-footer {
  max-width: 600px;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: underline;
}

a:visited {
  color: rgb(110, 57, 57);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 251, 0);
  text-decoration: underline;
}

a:active {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.Movie-details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto; */
  /* height: 80vh; */
}

.Details-categories {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-size: .6rem;
}

.Details-category {
  background-color: white;
  color: rgb(135, 4, 4);
  font-weight: bold;
  padding: 1px 3px;
  margin: 5px;
  border-radius: 5px;
}