* {
  box-sizing: border-box;
}

.App {
  background-color: #c44747;
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header, .App-main, .App-footer {
  min-width: 0;
  max-width: 900px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.App-header {
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

nav {
  min-width: 0;
  /* justify-items: space-between; */
  /* align-items: center; */
}

li {
  list-style-type: none;
}

a {
  min-width: 0;
  font-size: .75rem;
  text-decoration: none;
  color: white;
}

a:visited {
  color: rgb(110, 57, 57);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 251, 0);
  text-decoration: underline;
}

a:active {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.App-main {
  margin-top: 1em;
}

.Movie-details {
  display: flex;
  flex-direction: column;
}

.Details-categories {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: .6rem;
}

.Details-category {
  background-color: white;
  color: rgb(135, 4, 4);
  font-weight: bold;
  padding: 1px 5px;
  margin: 5px;
  border-radius: 5px;
}

.App-footer {
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: .75rem;
  font-style: italic;
}